.btnUI {
  font: 300 24px / 1.3 Roboto, Montserrat, Helvetica, sans-serif;
  border-radius: 15px;
  text-align: center;
  line-height: 1.3;
  border: none;
  cursor: pointer;
  height: 60px;
  background-color: var(--blue-color);
  color: #fff;
}
.btnUI:hover {
  background-color: var(--bg-gray);
}
.btn49 {
  width: 49%;
}
