.dashboardItem {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 330px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  border: 5px solid var(--border-color);
  border-radius: 2rem;
}
.dashboardItem:hover .title {
  height: 100%;
}
.img {
  height: 100%;
  position: absolute;
  top: 0;
}
.title {
  height: 30%;
  z-index: 1000;
  background: #000000;
  opacity: 0.5;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
