.loginPageWrap{
  
}
.loginForm{
  width: 600px;
  margin: 5rem auto;
  border: 4px solid var(--border-color);
  border-radius: 60px;
  padding: 83px 65px;
  background: var(--block-color);
}
.formInputs{

}
.buttonsContainer{
  display: flex;
  justify-content: space-around;
}
