.topMenuWrap {
  background: var(--menu-color);
}
.topMenuCenter {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topMenuItems {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.menuItem {
  color: #fff;
  padding: 30px;
  line-height: 1;
  transition: all 0.3s;
}
.menuItem:hover {
  background: var(--bg-gray);
}
.exit {
  line-height: 0;
  cursor: pointer;
}
