:root{
  --grey-divider: #ddd;
  --txt-black: #282828;
  --green-color: #339933;
}
* {
	margin: 0;
	padding: 0;
	line-height: 1.8;
}
body {
  font: 500 20px/1.3 Montserrat, Roboto, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: var(--txt-black);
}
.heading {
  color: #282828;
  font: 700 64px/1.1 Montserrat, Roboto, Helvetica, sans-serif;
  margin: 0;
}
