:root {
  --block-color: #d3eaff;
  --border-color: #a5c4e0;
  --bg-color: #edf6ff;
  --blue-color: #5d83a6;
  --menu-color: #626584;
  --block2-color: #c1e1ff;
  --bg-gray: #393939;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/RobotoCondensed-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  font: 300 24px/1.3 Roboto, Montserrat, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}
a {
  text-decoration: none;
  color: var(--txt-black);
}
.page_wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 0 auto;
  padding: 0 0 30px 0;
}
.heading {
  color: #282828;
  font: 500 42px/1.8 Roboto, Montserrat, Helvetica, sans-serif;
  margin: 30px 30px 10px 0;
}
input:focus {
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator { cursor: pointer; }
.contentBlock{
  padding: 30px;
  background: var(--block-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
}
.pageWrap {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}